### Shellcheck config

## Disable checks

# 2015: I use shell pipeline segments as boolean expressions all the time.
disable=SC2015

disable=SC2086 # Not going to quote every var, also i'll use double quotes to prevent expansion when needed; see 2046

disable=SC2088 # Tilde does not expand in quotes. Use $HOME.

disable=SC2119 # 2119: No "$@" noob help
# XXX: have a look at what shells what, some day
disable=SC2166 # Prefer [ p ] && [ q ] as [ p -a q ] is not well defined

disable=SC2209 # 2209: Use var=$(command) to assign output (or quote to assign string)

# I know what I'm doing doesn't look like POSIX. Thanks.
disable=SC2039 # In POSIX sh, 'local' is undefined
#disable=SC3028 # In POSIX sh, SHLVL is undefined.
disable=SC3033 # In POSIX sh, naming functions outside [a-zA-Z_][a-zA-Z0-9_]* is undefined.
disable=SC3043 # In POSIX sh, 'local' is undefined
disable=SC3053 # In POSIX sh, indirect expansion is undefined
disable=SC3060 # In POSIX sh, string replacement is undefined.


## Source path settings

external-sources=true
source-path=/srv/conf-local
source-path=/srv/home-local/bin
source-path=/srv/project-local/user-conf-dev

#
