
# Install using apt-get, brew, or others
INSTALL apt tmux git

# Copy and symlink files from the repo
COPY $UCONF/amce/gizmo.conf /etc/acme/gizmo.conf
SYMLINK $UCONF/top/rc $HOME/.toprc

# After uc is on PATH, use uc stat or uc update to process Ucfile

